body{
    font-family: 'Open Sans', sans-serif;
}

.navbar
{
	color: #111111;
}

.StarChecked
{
    color: aqua;

}


.mainNav {
    font-variant: small-caps;
    background-color: rgba(93, 155, 155, 1);
}



.navbar-expand-lg .mainNavBarNav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.alwaysShowHam {
    display: block !important;
    background-color: #fff;
    color: black;
}


@media screen and (min-width: 1600px) {
    .mainNavBarNav {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        font-size: 2em;
        /*width: 100%;*/
    }

}




@media (min-width: 992px) 
{
    #navCol {
        margin-left: -160px;
        transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    }

        #navCol.active {
            margin-left: 0;
            transform: none;
        }



    .leftNavItem {
        display: block !important;
    }
}


